@import "./mixins";

section {
  padding: 50px 0;
}

.feature {
  width: 80%;
  max-width: 1680px;
  margin: 50px auto;
  display: flex;
  @include respond(phone) {
    width: 90%;
    flex-direction: column-reverse;
    margin: auto;
  }

  &__list {
    flex: 1;
    margin-right: 50px;
    @include respond(phone) {
      margin-right: 0;
    }

    h1 {
      color: var(--color-primary);
      font-size: 3em;
      margin-bottom: 20px;
      max-width: 200px;
      @include respond(phone) {
        font-size: 2em;
        margin: 20px 0;
        max-width: unset;
      }
    }
    ul {
      border-left: 5px solid rgba(255, 68, 0, 0.685);
      list-style: none;
      padding-left: 20px;
      @include respond(phone) {
        display: flex;
        border: none;
        padding: 0;
        width: 100%;
      }

      li {
        padding: 10px 0;
        @include respond(phone) {
          padding: 10px;
        }

        a {
          text-decoration: none;
          color: gray;
          font-weight: 500;
          font-size: 2em;
          display: block;
          @include respond(phone) {
            font-size: 1em;
          }

          &:hover {
            transition: all 0.3s ease;
            color: orangered;
            transform: translateX(10px);
          }
        }
      }
    }
  }

  &__show {
    display: flex;
    .card {
      flex: 1;
      h2 {
        font-size: 2em;
        color: var(--color-primary);
        margin: 20px 0 20px 0;
        span {
          font-size: 0.8em;
        }
      }
      p {
        color: orangered;
      }
      h4 {
        color: gray;
        text-align: justify;
        margin: 20px 0;
        font-size: 1.5em;
        font-weight: 400;
        max-width: 400px;
        @include respond(phone) {
          font-size: 1em;
        }
      }
      &__img {
        display: flex;
        justify-content: space-around;
        img {
          flex: 1;
          max-width: 150px;
          background-color: whitesmoke;
          margin-right: 20px;
          padding: 10px;
          @include respond(phone) {
            max-width: 100px;
            margin: 0;
          }
        }
      }
      &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          background-color: orangered;
          color: white;
          padding: 10px 20px;
          border-radius: 20px;
          border: none;
          text-transform: uppercase;
        }
        a {
          text-decoration: none;
          color: orangered;
        }
      }
    }
    > img {
      max-width: 400px;
      @include respond(phone) {
        display: none;
      }
    }
  }
}
