.set {
  position: relative;
  //   overflow-x: hidden;
  display: flex;
  width: 80%;
  max-width: 1680px;
  margin: 50px auto;
  padding: 50px 0;
  &::before {
    content: "";
    background-image: url("../assets/set.png");
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    top: 25%;
    right: 0;
    bottom: 0;
    width: 80%;
    min-width: 500px;
    z-index: -1;
  }
  &::after {
    content: "";
    display: block;
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -250px;
    background-color: rgba(133, 77, 77, 0.527);
    z-index: -2;
    border-radius: 100px;
  }
  &__describe {
    flex: 0.5;
    max-width: 400px;
    > .created {
      margin-bottom: 50px;
      p {
        color: gray;
        font-size: 1em;
        font-weight: 500;
        letter-spacing: 5px;
      }
      h1 {
        color: var(--color-primary);
        margin: 20px 0;
        font-size: 3em;
      }
      .team {
        display: flex;
        margin-top: 20px;
        & > :not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    > .desc {
      margin-top: 50px;
      display: inline-block;
      h2 {
        color: var(--color-primary);
        font-size: 2em;
        span {
          font-size: 0.7em;
        }
      }
      p {
        color: orangered;
      }
      h4 {
        max-width: 300px;
        margin: 20px 0;
        line-height: 30px;
        color: gray;
        font-weight: 500;
        font-size: 1.2em;
      }
      .submit {
        margin: 20px 0;
        display: flex;
        align-items: center;
        button {
          border: none;
          background-color: orangered;
          padding: 10px 20px;
          color: white;
          border-radius: 20px;
          margin-right: 20px;
        }
      }
      a {
        text-decoration: none;
        color: orangered;
      }
    }
  }
}
