* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  overflow-x: hidden;
}

.App::after {
  content: "";
  display: block;
  position: absolute;
  top: -200px;
  right: 100px;
  background-color: rgba(255, 68, 0, 0.226);
  border-radius: 50%;
  width: 500px;
  height: 600px;
  z-index: -1;
  transform: rotate(-20deg);
  /* transform: scale(0.5); */
  transform-origin: 100% 0;
}
